fastapi==0.138.0
httpx[socks]
openai
pydantic
pydantic_settings
requests
starlette==1.3.1
uvicorn
google-genai
jinja2
python-multipart
cryptography
pymysql
sqlalchemy
aiomysql
aiosqlite
databases
python-dotenv
apscheduler
packaging
